@*@model PrometheusHotel.Hotel.Points
@{
    ViewBag.Title = "View Points";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (TempData["Success123"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        @TempData["Success123"]
    </div>
}
<head>
    <title></title>
    <style>
    </style>
    <link href="~/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome-4.6.3/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>
<br />

@using (Html.BeginForm("ViewPoints", "Bookings", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b style="color:#dd4b39; text-transform:capitalize;">View My Avaliable Points</b></h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="container col-md-6">

                    <div class="form-group">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Address*" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Check Points" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@
