@model dynamic

@{
    ViewBag.Title = "title";

    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="section bg-gray">
    <div class="container">
        <div class="jumbotron" style="text-align:center;background-color:dodgerblue;color:white;width:90%">
            <h1 style="font-family:'Buxton Sketch'">Congratulation!!</h1>

            <p>
                <b style="color:white">You Successfully made your payment, Thank your for being with us.</b>
            </p>

        </div>
    </div>
</section>